*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}
.all-content{
  background: black;
}
html::-webkit-scrollbar-track{
  background: transparent;
}
/* navbar */
#navbar{
  background-color: #4f5539;
  font-family: 'Roboto', sans-serif;
}
#logo img{
  width: 160px;
  margin-left: 40px;
}
.navbar-nav{
  margin-left: 50px;
}
.nav-item .nav-link{
  color: black;
  margin-left: 10px;
  font-weight: bold;
  transition: 0.5s;
}
.nav-item .nav-link:hover{
  background: #aca273;
  border-radius: 5px;
  color: black;
}
.btn-brown {
    color: rgb(15, 7, 7);
}

.btn-brown:hover {
    background-color: #aca273;
}

/* navbar */
/* home content */
#home {
  width: 100%;
  height: 90vh; /* Keep the height as per your requirement */
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(/static/pictures/1.png);
  background-repeat: no-repeat;
  background-size: cover; /* Ensures the background covers the whole area */
  background-position: right; /* Positions the background to the right */
  font-family: 'Roboto', sans-serif;
}

.content{
  padding-top: 190px;
  margin-left: 50px;
}
.content h3{
  font-size: 60px;
  color:#aca273;
}
.content p{
  font-size: 18px;
  margin-top: 10px;
  color: #aca273;
}
#btn{
  width: 150px;
  height: 36px;
  margin-top: 20px;
  background: rgb(183, 187, 128);
  border-radius: 5px;
  font-weight: bold;
  border: none;
  transition: 0.5s ease;
  cursor: pointer;
}
#btn:hover{
  background: #796e35;
  color: white;
}
/* home content */