#home {
  width: 100%;
  height: 95vh;
  background-image:url(/static/pictures/w1.png);
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: right;
  font-family: 'Roboto', sans-serif;
}

.information {
  background: #47503a;
  width: 80%;
  max-height: 1000px;
  max-width: 600px;
  margin: 25px 290px ;
  border-radius: 10px;
  padding:45px;
  color: #babda4;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding:10px 5px 10px 10px;
  background-color: #47503a;
  color: #babda4;
  border-radius: 8px;
  margin:10px 1px 15px 1px;
}

.para {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 40px;
  font-style: oblique;
  font-weight: 550;
}

.btn {
  width: 100%;
  font-weight: 400;
  border: 2px solid;
  color: #babda4;
  border-color: #babda4;
  border-radius: 8px;
  margin: 3px 0px;
  padding: 1px;
  font-size: 25px;
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: oblique;
  font-weight: 400;
}

.btn:hover {
  color: #47503a;
  background-color: #babda4;
  border-color: #47503a;
}

.btn.selected {
  color: #47503a;
  background-color: #babda4;
  border-color: #47503a;
}

.btn2 {
  text-decoration: none;
  border-radius: 5px;
  border: none;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: 600;
  font-size: 20px;
}

.btn2:hover {
  color: #47503a;
  background-color: #babda4;
  border-color: #babda4;
}

.btn2.btn-primary {
  background-color: #babda4;
  color: #47503a;
  border: 1px solid;
  padding: 5px 40px;
  border-color: #47503a;
}

.btn2.btn-primary:hover {
  background-color: #47503a;
  border: 1px solid;
  border-color: #babda4;
  color: #babda4;
}

.question {
  display: none;
}

.question.active {
  display: block;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#input-name{
  border-color: #47503a ;
  color: #47503a;
  font-size: 20px;
  background-color: #babda4;
  padding: 8px 10px 8px 10px;
}

#input-name::placeholder {
  color: #47503a;
  font-size: 18px;
  font-family: Arial, sans-serif;
  font-style: italic;
  padding-left: 5px;
  margin-left: 4px;
}