*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

html::-webkit-scrollbar-track{
  background: transparent;
}

/* navbar */

#navbar{
  background-color: #4f5539;
  font-family: 'Roboto', sans-serif;
}

#logo img{
  width: 160px;
  margin-left: 40px;
}

.navbar-nav {
  margin-left: 20px;
  justify-self: space-between;
}

.nav-item .nav-link {
  color: #aca273;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 600;
  font-size: 20px;
  transition: 0.2s;
}

.nav-item .nav-link:hover {
  background: #aca273;
  border-radius: 10px;
  color: #333c30; 
}

/*navbar*/

/*home content*/

#home {
  width: 100%;
  height: 90vh;
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(/static/pictures/4.png);
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: right;
  font-family: 'Roboto', sans-serif;
}

.content{
  padding-top: 190px;
  margin-left: 50px;
}

.content h3{
  font-size: 60px;
  color: #aca273;
}

.content p{
  font-size: 18px;
  margin-top: 10px;
  color: #aca273;
}

.btn {
  text-decoration: none;
  border-radius: 5px;
  border: none;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #796e35; 
}

.btn.btn-primary {
  background-color: #aca273;
  color: #333c30;
  padding: 5px 40px 5px 40px;
  border-color: #4f5539 ;
  font-weight: 600;
  font-size: 20px;
}

.btn.btn-primary:hover {
  background-color: #4f5539;
  border-color: #aca273;
  color: #aca273;
}
/* home content */