body {
    background-image: url(/static/pictures/w2.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #47503a;
}

#main {
    background-color: #47503a;
    margin: 30px 280px 10px 11px;
    border-radius: 8px;
    padding: 0;
}

.description {
    font-size: 45px;
    color: #babda4;
    padding: 30px 20px; 
    margin-bottom: 0px; 
}

.description p {
    margin-top: 0px;
    margin-bottom: 15px; 
}

.para1 {
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

.container {
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 3em;
    flex-grow: 1;
    margin-left: 1px;
}

#div1, #div2, #div3 {
    height: auto; 
    width: 25em;
    background-color: #47503a;
    margin: 8px 0;
    text-align: left;
    padding: 15px; 
    border-radius: 10px;
}

h1 {
    color: #babda4;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    margin-bottom: 20px; 
}

.form-group {
    display: flex;
    flex-direction: column; 
    margin-bottom: 15px; 
}

.form-group label {
    color: #babda4;
    margin-left: 2px;
    font-size: 20px;
    padding: 20px 0 5px 0; 
}

.form-group input {
    font-size: 1.2rem;
    padding: 8px;
    border: 3px solid #babda4; 
    color: #babda4;
    background-color: #47503a;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.form-group input:focus {
    outline: none; 
    font-size: 1.2rem;
    padding: 8px;
    border: 4px solid #babda4; 
    color: #babda4;
    background-color: #47503a;
    border-radius: 5px; 
    transition: border-color 0.3s ease; 
}

.form-group input::placeholder {
    color: #babda4;
    font-size: 18px;
    margin-left: 4px;
}

#heading{
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0px 0px 5px 0px;
    text-align: left;
    text-shadow: #babda4;
    margin-top: 70px;
    font-style: italic;
}

.custom-hr {
    border: 0;
    height: 5px;
    background-color: #babda4;
}

.btn {
    text-decoration: none;
    border-radius: 5px;
    border: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 600px;
}

.btn:hover {
    background-color: #babda4; 
}

.btn.btn-primary {
    background-color: #babda4;
    color: #47503a;
    padding: 10px 40px; 
    border-color: #47503a;
    font-weight: 600;
    font-size: 20px;
}

.btn.btn-primary:hover {
    background-color: #47503a;
    border:2px solid;
    border-color: #babda4;
    color: #babda4;
}

.form-group1 {
    display: flex;
    flex-direction: column; 
    margin-bottom: 15px; 
}

.form-group1 label {
    color: #babda4;
    margin-left: 2px;
    font-size: 30px;
    padding: 20px 0 12px 0; 
}

.form-group1 input {
    font-size: 1.8rem;
    padding: 11px;
    border: 3px solid #babda4; 
    color: #babda4;
    background-color: #47503a;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.form-group1 input:focus {
    outline: none; 
    font-size: 1.8rem;
    padding: 11px;
    border: 4px solid #babda4; 
    color: #babda4;
    background-color: #47503a;
    border-radius: 5px; 
    transition: border-color 0.3s ease; 
}

.form-group1 input::placeholder {
    color: #babda4;
    font-size: 21px;
    margin-left: 4px;
}

.container1 {
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 3em;
    flex-grow: 1;
    margin-left: 1px;
}