<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expenses</title>
    <link rel="stylesheet" href="/static/style3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div id="main">
        <div class="description">
            <p><u>Get your 50/30/20 budget and then personalize it to your priorities and situation</u></p>
            <p class="para1">The 50/30/20 approach can be a helpful way to get started with budgeting. It's a simple rule of thumb that suggests you put up to 50% of your after-tax income toward things you need, 30% toward things you want, and 20% toward savings.</p><br>
            <p><i class="fa-solid fa-house"></i> 50% Needs</p>
            <p class="para1">Things you must have or can't live without.<br>Examples: housing, groceries, utilities, transportation, child care, debt payments</p><br>
            <p><i class="fa-solid fa-gift"></i> 30% Wants</p>
            <p class="para1">Things you can cut back on or do without.<br>Examples: entertainment, dining out, clothing, splurges</p><br>
            <p><i class="fa-solid fa-wallet"></i> 20% Savings</p>
            <p class="para1">Money you save for future goals.<br>Examples: emergency fund, home, vacation, retirement, financial freedom</p>
        </div>
    </div>
    <h1 id="heading">Personalize your monthly budget</h1>
    <div class="container">
        <div id="div1">
            <h1>Needs <i class="fa-solid fa-house"></i></h1>
            <hr class="custom-hr">
            <div class="form-group">
                <label for="housing" class="form-label">Housing:</label>
                <input type="number" class="form-control" id="housing" name="housing" placeholder="₹">
            </div>
            <div class="form-group">
                <label for="utilities" class="form-label">Utilities:</label>
                <input type="number" class="form-control" id="utilities" name="utilities" placeholder="₹">
            </div>
            <div class="form-group">
                <label for="groceries" class="form-label">Groceries:</label>
                <input type="number" class="form-control" id="groceries" name="groceries" placeholder="₹">
            </div>
            <div class="form-group">
                <label for="transportation" class="form-label">Transportation:</label>
                <input type="number" class="form-control" id="transportation" name="transportation" placeholder="₹">
            </div>
            <div class="form-group">
                <label for="childcare" class="form-label">Childcare:</label>
                <input type="number" class="form-control" id="childcare" name="childcare" placeholder="₹">
            </div>
            <div class="form-group">
                <label for="healthcare" class="form-label">Healthcare:</label>
                <input type="number" class="form-control" id="healthcare" name="healthcare" placeholder="₹">
            </div>
            <div class="form-group">
                <label for="student" class="form-label">Student Loan Payments:</label>
                <input type="number" class="form-control" id="student" name="student" placeholder="₹">
            </div>
            <div class="form-group">
                <label for="debt" class="form-label">Other Debt Payments:</label>
                <input type="number" class="form-control" id="debt" name="debt" placeholder="₹">
            </div>
        </div>
        <div id="div2">
            <h1>Wants <i class="fa-solid fa-gift"></i></h1>
            <hr class="custom-hr">
            <div class="form-group">
                <label for="entertainment" class="form-label">Entertainment:</label>
                <input type="number" class="form-control" id="entertainment" name="entertainment" placeholder="₹">
            </div>
            <div class="form-group">
                <label for="dining" class="form-label">Dining Out:</label>
                <input type="number" class="form-control" id="dining" name="dining" placeholder="₹">
            </div>
            <div class="form-group">
                <label for="hobbies" class="form-label">Hobbies:</label>
                <input type="number" class="form-control" id="hobbies" name="hobbies" placeholder="₹">
            </div>
            <div class="form-group">
                <label for="splurges" class="form-label">Splurges:</label>
                <input type="number" class="form-control" id="splurges" name="splurges" placeholder="₹">
            </div>
        </div>
        <div id="div3">
            <h1>Savings <i class="fa-solid fa-wallet"></i></h1>
            <hr class="custom-hr">
            <div class="form-group">
                <label for="Emergency Fund" class="form-label">Emergency Fund:</label>
                <input type="number" class="form-control" id="Emergency Fund" name="Emergency Fund" placeholder="₹">
            </div>
            <div class="form-group">
                <label for="retirement" class="form-label">Retirement:</label>
                <input type="number" class="form-control" id="retirement" name="retirement" placeholder="₹">
            </div>
            <div class="form-group">
                <label for="vacation" class="form-label">Vacation / Travel:</label>
                <input type="number" class="form-control" id="vacation" name="vacation" placeholder="₹">
            </div>
        </div>
    </div>
    <a class="btn btn-primary" href="/expenses" role="button">Submit</a>
</body>
</html>
