<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>expenses</title>
    <link rel="stylesheet" href="/static/style3.css">
</head>
<body>
    <div id="main">
        <div class="description">
            <p><u>Get your 50/30/20 budget and then personalize it to your priorities and situation</u></p>
            <p class="para1"> The 50/30/20 approach can be a helpful way to get started with bodgeting.It's a simple rule of thumb that suggests you put up to 50% of your after-tax income toward things you need,30% toward things you want,and 20% toward savings.</p>
            <p><u>50% Needs</u></p>
            <p class="para1">Things you must have or can't live without.<br>Examples: housing, groceries, utilities, transportation, child care, debt payments</p>
            <p><u>30% Wants</u></p>
            <p class="para1">Things you can cut back on or do without.<br>Examples: entertainment, dining out, clothing, splurges</p>
            <p><u>20% Savings</u></p>
            <p class="para1">Money you save for future goals.<br>Examples: emergency fund, home, vacation, retirement, financial freedom</p>
        </div>
    </div>
</body>
</html>