<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pie Chart</title>
    <link rel="stylesheet" href="/static/style4.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div id="main">
        <h1>Your Budget Breakdown</h1>
        <h3>Based on your income, here is the breakdown of your budget according to the 50/30/20 rule.</h3>
        <div id="chart-container">
            <canvas id="budgetPieChart"></canvas>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var needs = JSON.parse('{{ needs|tojson|safe }}');
            var wants = JSON.parse('{{ wants|tojson|safe }}');
            var savings = JSON.parse('{{ savings|tojson|safe }}');

            var ctx = document.getElementById('budgetPieChart').getContext('2d');
            var budgetPieChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: ['Needs', 'Wants', 'Savings'],
                    datasets: [{
                        data: [needs, wants, savings],
                        backgroundColor: ['#babda4', '#a4babd', '#bda4ba'],
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            labels: {
                                color: '#000000',// legend label color
                                font:{
                                    size:10,
                                    weight:500
                                }
                                
                                 
                            }
                        },
                        tooltip: {
                            callbacks: {
                                label: function(context) {
                                    var label = context.label || '';
                                    if (label) {
                                        label += ': ';
                                    }
                                    label += Math.round(context.raw) + '₹';
                                    return label;
                                }
                            }
                        },
                        title: {
                            display: true,
                            text: 'Budget Categories',
                            font: {
                                size: 20
                            },
                            color: '#000000',
                            padding: 20
                        }
                    },
                    animation: {
                        animateRotate: true,
                        animateScale: true
                    }
                }
            });
        });
    </script>
</body>
</html>